@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  padding: 2rem;
  background-color: #2b2b2b;
  box-shadow: rgba(255, 1, 213, 0.7);
  border-bottom: 2px solid #000000;
}

.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__wrapper .branding img {
  height: 80px;
}
.header .header__wrapper .branding h1 {
  color: #fff;
  font-size: 2.5rem;
}

.header .header__wrapper .branding span {
  color: #ffa700;
}

.header .header__wrapper .branding {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header .header__wrapper .header__nav .nav ul {
  display: flex;
  gap: 4rem;
}

.header .header__wrapper .header__nav .nav ul li {
  padding: 2rem 0;
  font-size: 2rem;
}

.header .header__wrapper .header__nav .nav ul li a {
  color: #fff;
}

.header .header__wrapper .header__nav .nav ul li a:hover {
  color: #ffa700;
}

/* Tablet Header */

@media screen and (max-width: 740px) {
  .header {
    position: relative;
    /* position: fixed; */
    width: 100%;
    z-index: 999;
  }
  .header .header__nav .nav ul {
    background: #fff;
    position: absolute;
    right: -100rem;
    top: 12rem;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    transition: 0.5s ease;
  }
  .header .header__wrapper .header__nav .nav ul li a {
    color: #2b2b2b;
  }
  .header .header__wrapper .header__nav .nav ul li a:hover {
    color: #fff;
  }
  .header .header__wrapper .header__nav .nav ul li:hover {
    background-color: #ffa700;
    transition: 0.5s ease;
  }
  .header .header__nav .nav ul.open {
    right: 0rem;
    transition: 0.5s ease;
  }
  .header .header__wrapper .branding {
    gap: 2rem;
  }
  .header .header__wrapper .branding h3 {
    font-size: 2rem;
  }
  .header .header__wrapper .branding img {
    width: 5rem;
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .toggle__menu span {
    width: 3rem;
    height: 0.2rem;
    background-color: #ffa700;
    display: block;
    border-radius: 5rem;
    transition: 0.5s ease;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 7px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -7px) rotate(-225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
}

/* Mobile Header */

@media screen and (max-width: 500px) {
  .header {
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  .header .header__nav .nav ul {
    background: #fff;
    position: absolute;
    right: -100rem;
    top: 12rem;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    transition: 0.5s ease;
  }
  .header .header__wrapper .header__nav .nav ul li a {
    color: #2b2b2b;
  }
  .header .header__wrapper .header__nav .nav ul li a:hover {
    color: #fff;
  }
  .header .header__wrapper .header__nav .nav ul li:hover {
    background-color: #ffa700;
    transition: 0.5s ease;
  }
  .header .header__nav .nav ul.open {
    right: 0rem;
    transition: 0.5s ease;
  }
  .header .header__wrapper .branding {
    gap: 2rem;
  }
  .header .header__wrapper .branding h3 {
    font-size: 2rem;
  }
  .header .header__wrapper .branding img {
    width: 5rem;
  }
  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .toggle__menu span {
    width: 3rem;
    height: 0.2rem;
    background-color: #ffa700;
    display: block;
    border-radius: 5rem;
    transition: 0.5s ease;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 7px) rotate(225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -7px) rotate(-225deg);
    transition: 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
}

/* Banner */

.banner {
  padding: 5rem 0;
  padding-top: 15rem;
}

.banner .banner__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .banner__wrapper .banner__text h1 {
  color: #ffa700;
  font-size: 9rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 4rem;
}
.banner .banner__wrapper .banner__text {
  max-width: 40rem;
}
.banner .banner__wrapper .banner__text p {
  text-align: justify;
  margin-bottom: 5rem;
}

.banner .banner__wrapper .banner__image img {
  width: 60rem;
}

.ellipse {
  position: relative;
}

.circle {
  position: absolute;
  top: -5rem;
  right: -5rem;
  transition: 0.5s ease;
}

.ellipse:hover .circle {
  top: 0rem;
  right: 0rem;
  transition: 0.5s ease;
}

/* Tablet Banner */

@media screen and (max-width: 740px) {
  .banner {
    padding: 10rem 0;
  }
  .banner .banner__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 10rem;
    justify-content: center;
  }
  .banner .banner__wrapper .banner__text {
    text-align: center;
  }
}

/* Mobile Banner */

@media screen and (max-width: 500px) {
  .banner .banner__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .banner .banner__wrapper .ellipse {
    display: none;
  }
  .banner .banner__wrapper .banner__text h1 {
    font-size: 7rem;
  }
}

/* Services */

.services {
  padding: 8rem 0;
  background-color: #2b2b2b;
}

.services .service__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6rem;
  text-align: center;
}

.services .service__wrapper .service__card {
  display: flex;
  flex-direction: column;
}
.services .service__wrapper .service__card h3 {
  color: #ffa700;
  margin: 2rem 0;
}

.services .service__wrapper .service__card p {
  color: #fff;
  margin-bottom: 5rem;
  text-align: justify;
}

.services .service__wrapper .service__card img {
  max-width: 8rem;
  margin: 0 auto;
}

.services .service__wrapper .service__card a {
  width: fit-content;
  margin: 0 auto;
}

/* Tablet Services */

@media screen and (max-width: 740px) {
  .services .service__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services .service__wrapper .service__card {
    max-width: 50rem;
    margin-bottom: 6rem;
  }
}

/* Mobile Services */

@media screen and (max-width: 500px) {
  .services .service__wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* About me */

.about {
  padding: 8rem 0;
}
.about .about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}
.about .about__wrapper .about__text h2 {
  margin-bottom: 4rem;
  font-size: 2rem;
  color: #ffa700;
}
.about .about__wrapper .about__text p {
  margin-bottom: 2rem;
  text-align: justify;
}
.about .about__wrapper .about__image {
  position: relative;
}
.about .about__wrapper .about__image .circle {
  position: absolute;
  left: 0;
  width: 47.8rem;
  top: 0;
  opacity: 0.4;
}

/* Tablet About Me */

@media screen and (max-width: 740px) {
  .about .about__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    text-align: center;
  }
  .about .about__wrapper .about__text p {
    text-align: justify;
    max-width: 50rem;
  }
}

/* Mobile About Me */

@media screen and (max-width: 500px) {
  .about .about__wrapper {
    display: flex;
    flex-direction: column;
  }
  .about .about__wrapper .about__image {
    margin-bottom: 4rem;
  }
  .about .about__wrapper .about__text {
    text-align: center;
  }
}

/* Trends */

.trends {
  padding: 8rem 8rem 15rem 8rem;
  background-color: #2b2b2b;
}

.trends .trends__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.trends .container h2 {
  font-size: 3rem;
  color: #ffa700;
  margin-bottom: 1rem;
  font-weight: bold;
}

.trends .container p {
  color: #fff;
  margin-bottom: 6rem;
}

.trends .trends__wrapper .trends__card {
  background-color: #fff;
  border-radius: 3rem;
}

.trends .trends__wrapper .trends__card .trends__text {
  margin: 2rem;
}

.trends .trends__wrapper .trends__card .trends__text h4 {
  color: #ffa700;
  margin-bottom: 2rem;
}

.trends .trends__wrapper .trends__card .trends__text p {
  color: #2b2b2b;
}

.trends .trends__wrapper .trends__card .trends__text a {
  color: #ffa700;
}
.trends .trends__wrapper .trends__card img {
  width: 100%;
}

/* Tablet Trends */

@media screen and (max-width: 740px) {
    .trends .container {
    text-align: center;
  }
  .trends .trends__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trends .trends__wrapper .trends__card {
    max-width: 45rem;
    margin-bottom: 4rem;
  }
}

/* Mobile Trends */

@media screen and (max-width: 500px) {
  .trends {
    padding: 6rem 4rem;
  }
  .trends .trends__wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* Contact Banner */

.cta {
  background-color: #ffa700;
  padding: 8rem;
}

.cta .cta__wrapper .cta__text {
  text-align: center;
}

.cta .cta__wrapper .cta__text h3 {
  font-size: 2rem;
  font-weight: bold;
}

.cta .cta__wrapper .cta__text p {
  font-size: small;
  margin-bottom: 4rem;
}

/* Footer */

.footer {
  padding: 6rem;
  background-color: #2b2b2b;
}

.footer .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__wrapper .footer__icon {
  display: flex;
  gap: 4rem;
}

.footer .footer__wrapper .footer__icon ul {
  display: flex;
  gap: 1rem;
}

.footer .footer__wrapper .footer__icon ul li a {
  color: #fff;
}

.footer .footer__wrapper .footer__icon p {
  color: #fff;
}

.footer .footer__wrapper .footer__text p {
  color: #fff;
  text-align: right;
}
@media screen and (max-width: 500px) {
  .footer .footer__wrapper {
    flex-direction: column;
  }
  .footer .footer__wrapper .footer__icon {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer .footer__wrapper .footer__icon p {
    text-align: center;
    margin-bottom: 1rem;
  }
}

/* About Page */

/* About Banner */

.aboutBanner {
  padding: 12rem;
}
.aboutBanner .aboutBanner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.aboutBanner .aboutBanner__wrapper .aboutBanner__text h1 {
  font-size: 9rem;
  font-weight: 600;
  margin-bottom: 4rem;
  color: #ffa700;
}
.aboutBanner .aboutBanner__wrapper .aboutBanner__text p {
  max-width: 45rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.aboutBanner .aboutBanner__wrapper .aboutBanner__text ul {
  display: flex;
  padding-top: 2rem;
  gap: 1rem;
}
.aboutBanner .aboutBanner__wrapper .aboutBanner__text ul li {
  font-size: 3rem;
}
.aboutBanner .aboutBanner__wrapper .aboutBanner__text ul li a {
  color: #ffa700;
}
.aboutBanner .about__chevron {
  color: #ffa700;
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

/* Tablet About Banner */

@media screen and (max-width: 740px) {
  .aboutBanner {
    padding-bottom: 2rem;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__ellipse {
    margin-bottom: 6rem;
  }
  .aboutBanner .aboutBanner__wrapper {
    display: flex;
    flex-direction: column;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__text ul {
    justify-content: center;
  }
}

/* Modile About Banner */

@media screen and (max-width: 500px) {
  .aboutBanner {
    padding: 4rem;
  }
  .aboutBanner .aboutBanner__wrapper {
    flex-direction: column;
    text-align: center;
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__text p {
    text-align: center;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__text h1 {
    font-size: 7rem;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__text ul {
    justify-content: center;
    margin-bottom: 4rem;
  }
  .aboutBanner .aboutBanner__wrapper .aboutBanner__ellipse {
    display: none;
  }
}

/* About Projects */

.projects {
  background-color: #2b2b2b;
  padding: 8rem;
}
.projects .projects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
.projects .container h2 {
  font-size: 4rem;
  color: #ffa700;
  margin-bottom: 1rem;
  font-weight: bold;
}
.projects .container p {
  color: #fff;
  margin-bottom: 6rem;
}
.projects .projects__wrapper .projects__cards {
  border-radius: 2rem;
  background-color: #fff;
  max-width: 35rem;
  margin-bottom: 4rem;
}
.projects .projects__wrapper .cards__text {
  margin: 2rem;
}
.projects .projects__wrapper .cards__text h4 {
  color: #ffa700;
  margin-bottom: 2rem;
}
.projects .projects__wrapper .cards__text p {
  color: #2b2b2b;
}

/* Tablet About Projects */

@media screen and (max-width: 740px) {
  .projects .container {
    text-align: center;
  }
  .projects .projects__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile About Projects */

@media screen and (max-width: 500px) {
  .projects .container {
    text-align: center;
  }
  .projects .projects__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* About Services */

.about__services {
  padding: 8rem;
}
.about__services .about__services__wrapper {
  display: flex;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 114rem;
  justify-content: space-around;
  gap: 30rem;
}
.about__services .about__services__wrapper .about__services__text h2 {
  color: #ffa700;
  font-size: 4rem;
  font-weight: bold;
  margin: 8rem 0 6rem;
}
.about__services .about__services__wrapper img {
  margin-top: 9rem;
}
.about__services .about__services__wrapper .about__services__text p {
  max-width: 40rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.about__services
  .about__services__wrapper
  .about__services__text
  .services__price {
  margin: 6rem 0 0;
  max-width: 15rem;
}
.about__services
  .about__services__wrapper
  .about__services__text
  .services__price
  h3 {
  font-size: 3rem;
  color: #ffa700;
}
.about__services
  .about__services__wrapper
  .about__services__text
  .services__price
  p {
  font-size: 1rem;
  font-style: italic;
}

/* Tablet About Services */

@media screen and (max-width: 740px) {
  .about__services .about__services__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .about__services .about__services__wrapper img {
    margin-top: 0;
  }
  .about__services .about__services__wrapper .about__services img {
    max-width: fit-content;
  }
  .about__services .about__services__wrapper .about__services__text h2 {
    margin: 6rem;
    text-align: center;
  }
  .about__services .about__services__wrapper .about__services__text p {
    max-width: 60rem;
  }
  .about__services .about__services__wrapper .about__services__text .services__price {
    justify-content: center;
    max-width: 60rem;
    text-align: center;
  }
  .about__services .about__services__wrapper .about__services__text .services__price p {
    text-align: center;
  }
}

/* Mobile About Services */

@media screen and (max-width: 500px) {
  .about__services .about__services__wrapper {
    justify-content: center;
    gap: 0;
    display: flex;
    flex-direction: column-reverse;
  }

}

/* Updates Page */

.updates {
  padding: 8rem;
}
.updates .container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffa700;
  margin-bottom: 1rem;
}
.updates .updates__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem 0;
}
.updates .updates__wrapper .updates__main {
  width: 68rem;
}
.updates .updates__wrapper .updates__main img {
  margin-bottom: 1rem;
  width: 100%;
}
.updates .updates__wrapper .updates__main ul {
  display: flex;
  margin-bottom: 2rem;
  gap: 6rem;
}
.updates .updates__wrapper .updates__main h3 {
  font-size: 2rem;
  color: #ffa700;
  margin-bottom: 2rem;
}
.updates .updates__wrapper .updates__main p {
  text-align: justify;
  margin-bottom: 2rem;
}
.updates .updates__wrapper .updates__main ul li a {
  color: #2b2b2b;
}
.updates .updates__wrapper .updates__main ul li {
  display: flex;
  gap: 1rem;
}
.updates .updates__wrapper .updates__main a {
  color: #ffa700;
}
.updates .updates__wrapper .updates__sub .recent__image {
  display: flex;
}
.updates .updates__wrapper .updates__sub .updates__categories .categories table {
  width: 100%;
}
.updates .updates__wrapper .updates__sub .updates__categories .categories table tr {
  display: flex; justify-content: space-between;
}
.updates .updates__wrapper .updates__sub .updates__categories .recent__post ul li {
  display: flex; margin-bottom: 5rem;
}
.updates .updates__wrapper .updates__sub .updates__categories .categories h3 {
  font-size: 2rem; color: #ffa700; margin-bottom: 3rem;
}
.updates .updates__wrapper .updates__sub .updates__categories .categories tr {
  margin-bottom: 2.3rem;
}
.updates .updates__wrapper .updates__sub .updates__categories .recent__post h3 {
  font-size: 2rem; color: #ffa700; margin-bottom: 4rem;
}
.updates .updates__wrapper .updates__sub .updates__categories .recent__post ul li {
  display: flex; justify-content: space-between;
}
.updates .updates__wrapper .updates__sub .updates__categories .recent__post ul li span {
  max-width: 23rem;
}
.updates .updates__wrapper .updates__sub .updates__categories .recent__post ul li span h4 {
  margin-bottom: 4rem;
}
.updates .tags h3 { font-size: 2rem; color: #ffa700; margin-bottom: 4rem;
}
.updates .updates__wrapper .updates__sub .updates__categories .tags ul {
  display: flex; flex-wrap: wrap;
}
.updates .updates__wrapper .updates__sub .updates__categories .tags ul {
  gap: 2rem;
}

/* Tablet Updates */

@media screen and (max-width: 740px) {
  .updates .updates__wrapper {
    display: flex;
    flex-direction: column;
  }
  .updates .updates__wrapper .updates__main {
    width: 100%;
  }
  .updates .updates__wrapper .updates__main ul {
    flex-direction: column;
    gap: 0;
  }
}

/* Mobile Updates */

@media screen and (max-width: 500px) {
  .updates {
    padding: 20rem 6rem 0;
  }
  .updates .updates__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .updates .updates__wrapper .updates__main {
    width: 100%;
  }
  .updates .updates__wrapper .updates__main ul {
    gap: 0;
    display: flex;
    flex-direction: column;
  }
  .updates
    .updates__wrapper
    .updates__sub
    .updates__categories
    .recent__post
    ul
    li {
    width: 35rem;
  }
}

/* Contact */

.contact {
  padding: 8rem;
  height: 73vh;
  width: 100vw;
  background-color: #2b2b2b;
}
.contact .contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact .container h2 {
  font-size: 4rem;
  color: #ffa700;
  font-weight: bold;
  margin-bottom: 4rem;
}
.contact .container p {
  width: 50rem;
}
.contact .contact__wrapper .contact__text .info li i {
  font-size: 2.5rem;
  color: #ffa700;
}
.contact .contact__wrapper .contact__text .info li {
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;
}
.contact .contact__wrapper .contact__text .lorem {
  color: #fff;
  margin-bottom: 8rem;
}
.contact .contact__wrapper .contact__text p {
  color: #fff;
}
.contact .contact__wrapper .contact__text .icons {
  display: flex;
  gap: 1rem;
  font-size: 2.5rem;
}
.contact .contact__wrapper .contact__text .icons li a {
  color: #fff;
}
.contact .contact__wrapper .contact__box form {
  display: flex;
  flex-direction: column;
}
.contact .contact__wrapper .contact__box form input {
  width: 100%;
  height: 5rem;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}
.contact .contact__wrapper .contact__box a {
  float: right;
}

/* Tablet Contact */

@media screen and (max-width: 740px) {
  .contact {
    height: 100%;
  }
  .contact .contact__wrapper {
    display: flex;
    flex-direction: column;
  }
  .contact .contact__wrapper .contact__text {
    margin-bottom: 6rem;
  }
  .contact .contact__wrapper .contact__text .icon {
    justify-content: center;
  }
}

/* Mobile Contact Responsive */

@media screen and (max-width: 500px) {
  .contact {
    padding: 15rem 0;
    height: 100%;
    width: 100%;
  }
  .contact .contact__wrapper {
    display: flex;
    flex-direction: column;
  }
  .contact .contact__wrapper .contact__box {
    padding-top: 4rem;
    width: 45rem;
  }
  .contact .contact__wrapper .contact__text .icons {
    justify-content: center;
  }
}

/* Contact Footer */

.footer{
  border-top: 2px solid #fff;
}




/* Repeatable Pattern */

.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 2rem 3rem;
  background-color: transparent;
  border-radius: 6rem;
}

.btn.bg--yellow {
  background-color: #ffa700;
  color: #fff;
}

.btn.bg--yellow:hover {
  background-color: #2b2b2b;
  color: #ffa700;
  border: 1px solid #ffa700;
}

.btn.bg--black {
  background-color: #2b2b2b;
  color: #fff;
}

.btn.bg--black:hover {
  background-color: #fff;
  color: #2b2b2b;
}

.btn.bg--white {
  border: 1px solid #2b2b2b;
  background-color: #fff;
  color: #2b2b2b;
}

.btn.bg--white:hover {
  background-color: #2b2b2b;
  color: #fff;
}

/* About Services Repeatable */

.about__services:nth-child(even) {
  background-color: #2b2b2b;
}
.about__services:nth-child(even) p {
  color: #fff;
}
.about__services:nth-child(even) .about__services__wrapper {
  flex-direction: row-reverse;
}

/* Tablet About Services Repeatable */

@media screen and (max-width: 740px) {
  .about__services:nth-child(even) .about__services__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Mobile About Services Repeatable */

@media screen and (max-width: 500px) {
  .about__services:nth-child(even) .about__services__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
.about__services .chevron {
  text-align: center;
}
.about__services .chevron a i {
  text-align: center;
  color: #ffa700;
  font-size: 4rem;
}
.about__services:last-child .chevron {
  display: none;
}

/* Updates Repeatable */

.updates .updates__wrapper .updates__main .border {
  border-bottom: 1px solid #2b2b2b;
  padding: 6rem 0;
}
.updates .updates__wrapper .updates__main .border:last-child {
  border-bottom: 0px;
}
.updates .updates__wrapper .updates__sub .updates__categories:first-child {
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 6rem;
}
.updates .updates__wrapper .updates__sub .updates__categories {
  border-bottom: 1px solid #2b2b2b;
  padding: 6rem 0;
}
.updates .updates__wrapper .updates__sub .updates__categories:last-child {
  border-bottom: 1px solid #2b2b2b;
  padding-top: 6rem;
  border-bottom: 0;
}

/* Contact Repeatable */

.contact .contact__wrapper .contact__box form input:last-child {
  height: 10rem;
  padding-bottom: 6rem;
}
